<main class="container">
  <p class="alert alert-info hidden" role="alert">
    <%= get_flash(@conn, :info) %>
  </p>
  <p class="alert alert-danger hidden" role="alert">
    <%= get_flash(@conn, :error) %>
  </p>
  <%= @inner_content %>
</main>